/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --white-color: #ffffff;
  --white-color-1: #F9F8F4;
  --white-color-2: #FCFCFD;
  --white-color-3: #F2F4F7;
  --black-color: #000000;
  --primary-color: #d6f318;
  --primary-color-light-1: #E3F37A;
  --primary-color-light-2: #EDF3C2;
  --grey-color-1: #e8e8e8;
  --grey-color-2: #334054;
  --grey-color-3: #959595;
  --grey-color-4: #D0D5DD;
  --grey-color-5: #667085;
  --grey-color-6: #101828;
  --grey-color-7: #111118;
  --blue-color-1: #0053F5;
  --green-color-1: #335B4C;
  --PhoneInputCountrySelectArrow-color: #d6f318 !important;
  --PhoneInputCountryFlag-height: 24px !important;
  --PhoneInputCountrySelectArrow-width: 8px !important;
  --PhoneInputCountrySelectArrow-borderWidth: 1px !important;
  --PhoneInputCountrySelectArrow-marginLeft: 13px !important;
  --PhoneInputCountrySelectArrow-opacity: 1 !important;
}




@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
  height: 100%
}

body {
  font-family: var(--font-poppins);
  height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.gradient-bg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%), url('/images/renaissance6.png') no-repeat center/cover;
}

.PhoneInput {
  input {
    line-height: 30px;
    padding: 25px;
    border-radius: 8px;
    background-color: var(--grey-color-1);
    font-size: 20px;

    &:focus {
      outline-color: var(--primary-color-light-1);
    }
  }


  &CountryIcon {
    width: 58px;
    height: 24px;
  }

  &Country {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px !important;
    border-radius: 8px;
    background-color: var(--black-color);
    width: 140px;
  }

}

.ant-spin-dot-item {
  background-color: var(--black-color) !important;
}

.ant-spin {
  line-height: 30px;
  font-size: 20px;
}

.custom-spin {
  .ant-spin-dot-item {
    background-color: var(--primary-color) !important;
  }
}

.custom-table {
  &-invoice {
    &.borderless tr:first-child>* {
      &:first-child {
        border-start-start-radius: 0px !important;
      }

      &:last-child {
        border-start-end-radius: 0px !important;
      }
    }

    .ant-table-tbody>tr.ant-table-row:hover>td {
      background-color: var(--white-color-1);
    }

    .ant-table {
      thead {
        white-space: nowrap;

        &>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
          width: 0;
        }

        th {
          background-color: var(--white-color-3);
          padding: 16px 15px !important;
          font-family: var(--font-gosha);
          border-top: 1.5px solid var(--grey-color-4);
          border-bottom: 1.5px solid var(--grey-color-4);
          border-top-left-radius: 0 !important;
          border-right: none !important;
          font-size: 10px;
          line-height: 12px;
          color: var(--grey-color-7);
        }
      }

      tbody {
        background-color: var(--white-color-1);
        white-space: nowrap;

        tr {
          td {
            color: var(--grey-color-5);
            font-weight: 500;
            font-size: 9px;
            line-height: 12px;
            padding-bottom: 16px;
          }

          &>td {
            border-bottom: none
          }

        }
      }
    }
  }

  &.borderless tr:first-child>* {
    &:first-child {
      border-start-start-radius: 0px !important;
    }

    &:last-child {
      border-start-end-radius: 0px !important;
    }
  }

  .ant-table {
    thead {
      white-space: nowrap;

      &>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
        width: 0;
      }

      th {
        padding: 13px 16px !important;
        font-size: 12px;
        color: var(--grey-color-5);
        background-color: var(--white-color-2);
        border-top: 1px solid var(--grey-color-4);
        border-bottom: 1px solid var(--grey-color-4);
        border-top-left-radius: 0;
        border-right: none !important;
      }
    }

    tbody {
      tr {
        td {
          color: var(--grey-color-6);
          font-weight: 500;
          font-size: 14px;
        }

        &>td {
          border-bottom: 1px solid var(--grey-color-4);
        }

        &:nth-child(even) {
          background-color: var(--white-color-2);
        }
      }
    }
  }

  ul.ant-pagination {

    .ant-pagination-item-active,
    .ant-pagination-item:hover,
    .ant-pagination-item-link:hover {
      border-color: transparent !important;
      background-color: #eeeeee;
      border-radius: 100px;

      & a {
        color: var(--grey-color-6) !important;
      }

    }
  }
}

.custom-drawer {

  .ant-drawer-body {
    padding: 0;
  }
}